<!-- making an header -->
<div class="header">
  <app-header> </app-header>
</div>
<!-- interpolation example -->
<h1>vishal Garg {{ title }}</h1>
<!-- V can add class to the interpolated element-->
<h1 class="class1">vishal Garg {{ title }}</h1>
<!-- V can add id to the interpolated element-->
<h1 id="id1">vishal Garg {{ title }}</h1>
<!-- vishal component in app-->
<h1><app-vishal></app-vishal></h1>
<!-- login component in user-auth module -->
<h1><app-login></app-login></h1>
<!-- function calling -->
<div class="btn">
  <button (click)="getName1()">Click Me</button>
  <span>-To call the Function</span>
</div>
<!-- function calling with passing argument -->
<div class="btn">
  <button (click)="getName2('V')">Click Me</button>
  <span>-To call the Function having Argument</span>
</div>
<!-- function calling with passing multiple arguments -->
<div class="btn">
  <button (click)="getName3('vishal Garg', 'Vipul Sir')">Click Me</button>
  <span>-To call the Function having Multiple Argument</span>
</div>

<!-- EVENTS IN ANGULAR  -->

<!-- click event  -->
<div class="btn">
  <button (click)="getData()">Click Me</button>
  <span>-To Check the Click Event by passing msg in Console</span>
</div>
<!-- keyup event  -->
<div class="btn">
  <input
    type="text"
    #box
    (keyup)="getInput(box.value)"
    placeholder="keyUp Event"
  />
  <span>-To Check the "keyup" event by passing msg in Console</span>
</div>
<!-- keydown event  -->
<div class="btn">
  <input
    type="text"
    #box1
    (keydown)="getInput(box1.value)"
    placeholder="keydown Event"
  />
  <span>-To Check the "keydown" event by passing msg in Console</span>
</div>
<!-- blur event  -->
<div class="btn">
  <input
    type="text"
    #box2
    (blur)="getInput(box2.value)"
    placeholder="blur Event"
  />
  <span>-To Check the "blur" event by passing msg in Console</span>
</div>
<!-- input event  -->
<div class="btn">
  <input
    type="text"
    #box3
    (input)="getInput(box3.value)"
    placeholder="input Event"
  />
  <span>-To Check the "input" event by passing msg in Console</span>
</div>
<!-- mouseover event  -->
<div class="btn">
  <h3 (mouseover)="getInput('over')">
    -To Check the "mouseover" event by passing msg in Console when we mouseover
    it !!!
  </h3>
</div>
<!-- mouseleave event  -->
<div class="btn">
  <h3 (mouseleave)="getInput('leave')">
    -To Check the "mouseleave" event by passing msg in Console when we mouseover
    it !!!
  </h3>
</div>
<!-- making an input and showing its inputing value on the layout By Event binding -->
<div class="btn">
  <h3 style="color: rgb(0, 0, 255)">
    ---Making an input and showing its inputing value on the layout By Event
    binding---
  </h3>
  <input
    type="text"
    #box4
    (input)="getInputReal(box4.value)"
    placeholder="Input Something"
  />
  <span>Input value is : {{ displayValue }}</span>
</div>
<!-- making an input and showing its inputing value on the layout by clicking button -->
<div class="btn">
  <h3 style="color: rgb(0, 0, 255)">
    ---Making an input and showing its inputing value on the layout by clicking
    button ---
  </h3>
  <input type="text" #box5 placeholder="Input Something" name="username" />
  <button class="btn1" (click)="getInputReal1(box5.value)">Click Me</button>
  <span>Input value is : {{ displayValue2 }}</span>
</div>

<!-- Counters (with +- functionality) -->
<div class="counterbox">
  <header><h2>COUNTER</h2></header>
  <span>
    <button (click)="counter('minus')">- -</button>
    <span
      ><b>Count : {{ count }}</b></span
    >
    <button (click)="counter('add')">+ +</button>
  </span>
</div>
<!--
    STYLES IN ANGULAR
    1. Inline Style -> to style any one element  
    2. Component Style -> to style any component
    3. Global Style -> to style globally in different different components
-->

<!-- PROPERTY BINDING-->

<!-- it is used to chnage/update any property or attributes of any html element
    p-binding also works with boolean values but interpolation doesn't
    lets show this with an example !!! 
-->
<u><h2>Use of property binding</h2></u>
<div class="PbindingEx">
  <!-- by using interpolation -->
  <input
    type="text"
    name="user-name"
    value="{{ name }}"
    disabled="{{ disable }}"
  />
  <!-- by using property binding -->
  <input type="text" name="user-name" [value]="name" [disabled]="disable" />
  <!-- So with this example it is clearly visible that disable(false) is only working in p-binding -->
</div>

<!-- DECISION CONTROL STRUCTURES  -->
<u><h2>If or if else condition</h2></u>
<div class="conditional">
  <!-- for check the if else condition we had declared a show property in .ts file if show is true then it will processed if condition while if the value of show is false then if will processed the else condition -->
  <span *ngIf="show; then ifCondition; else elseCondition"></span>
  <ng-template #ifCondition>
    <h2>If Condition is processed</h2>
  </ng-template>
  <ng-template #elseCondition>
    <h2>Else Condition is processed</h2>
  </ng-template>

  <!-- PRACTICING MULTIPLE IFS by matching color with given color in property -->
  <u
    ><h2>
      PRACTICING MULTIPLE IFS by matching color with given color in property
    </h2>
  </u>
  <ng-template [ngIf]="color === 'blue'">
    <h2 style="color: blue">This is blue color</h2>
  </ng-template>
  <ng-template [ngIf]="color === 'red'">
    <h2 style="color: red">This is red color</h2>
  </ng-template>
  <ng-template [ngIf]="color === 'green'">
    <h2 style="color: green">This is green color</h2>
  </ng-template>
  <ng-template [ngIf]="color === 'pink'">
    <h2 style="color: pink">This is pink color</h2>
  </ng-template>

  <!-- SWITCH CONDITON - if we hv more then 3 conditions we should prefer switch condition-->
  <div [ngSwitch]="color">
    <u
      ><h2>
        PRACTICING SWITCH CONDITON by matching color with given color in
        property
      </h2></u
    >
    <h2 *ngSwitchCase="'red'" style="color: red">This is Switch Red</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue">This is Switch Blue</h2>
    <h2 *ngSwitchCase="'green'" style="color: green">This is Switch Green</h2>
    <h2 *ngSwitchCase="'orange'" style="color: orange">
      This is Switch Orange
    </h2>
    <h2 *ngSwitchCase="'pink'" style="color: pink">This is Switch Pink</h2>
    <h2 *ngSwitchCase="'skyblue'" style="color: skyblue">
      This is Switch Sky Blue
    </h2>
    <h2 *ngSwitchDefault>This is Switch ByDefault color</h2>
  </div>
</div>

<!-- FOR LOOP -->
<u><h2>USE OF FOR LOOP</h2></u>
<div class="loop">
  <h3 *ngFor="let item of users">Name is : {{ item }}</h3>
  <h3 *ngFor="let item of usersDetails">
    <pre>{{ item.name }}     {{ item.email }}     {{ item.phone }}</pre>
  </h3>
</div>

<!-- NESTED FOR LOOP -->
<u><h2>USE OF NESTED FOR LOOP</h2> </u>
<div class="nestedLoop">
  <ul *ngFor="let user of usersDetails">
    <li>Name is :{{ user.name }}</li>
    <li>Email is :{{ user.email }}</li>

    <li>Phone no. is :{{ user.phone }}</li>
    <li>Social Accounts</li>
    <ul *ngFor="let accounts of user.socialAccount">
      <li>{{ accounts }}</li>
    </ul>
  </ul>
</div>

<!-- Style Binding-->
<!-- to apply dynamic binding when any style property comes from .ts file -->
<div class="styleBinding">
  <u><h2>Style Binding</h2></u>
  <h2 [style.color]="color" [style.backgroundColor]="bgColor">
    This is colored by style binding
  </h2>
  <button (click)="updateColor()">Update Color</button>
</div>

<!-- MAKING A FORM IN ANGULAR-->
<u><h2>FORM IN ANGULAR</h2></u>
<div id="form1">
  <form #basicForm="ngForm" (ngSubmit)="getFormdata(basicForm.value)">
    <span>Name : </span>
    <input type="text" ngModel name="User" placeholder="Enter User Name" />
    <span>Email : </span>
    <input type="email" ngModel name="Email" placeholder="Enter User Email" />
    <span>Password : </span>
    <input
      type="password"
      ngModel
      name="password"
      placeholder="Enter User Password"
    />
    <button>Register</button>
  </form>

  <!-- SHOWING THE INPUT DATA VALUES-->
  <u><h2>SHOWING THE INPUT DATA VALUES</h2></u>
  <ul>
    <li>Name is :- {{ userData.User }}</li>
    <li>Email is :- {{ userData.Email }}</li>
    <li>Password is -: {{ userData.password }}</li>
</ul>
</div>
<!-- TOGGLE ANY ELEMENT (HIDE & SHOW ON BUTTON CLICK)-->
<div class="toggleElem">
  <span>
      <h2 *ngIf="display">Heading tag</h2>
      <button (click)="toggleElement()">Click to Toggle</button>
  </span>
</div>
<!-- MATIRIAL UI INSTALLED-->
<u><h2>USING MATIRIAL UI</h2></u>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
